<div class="container">
  <h2>Task: </h2>
  
  <form>
    <label for="Title">Title: </label> 
    <input
      type="text"
      class="form-control"
      id="Title"
      required
      [(ngModel)]="model.Title"
      name="Title"
      />
      
    <label for="Description">Description: </label> 
    <input
      type="text"
      class="form-control"
      id="Description"
      required
      [(ngModel)]="model.Description"
      name="Description"
      />

    <label for="Url">Url: </label> 
    <input
      type="text"
      class="form-control"
      id="Url"
      [(ngModel)]="model.Url"
      name="Url"
      />


<p></p>
<p></p>
<p></p>

<label for="asignatura">Subjects: </label>
<select type="text" id="Tasks" class="form-control" name="Tasks" [(ngModel)]="model.Tasks" required>
  <option label="Seleccione una asignatura"></option>
  <optgroup label="Catalogo">
    <option>Lengua Española</option>
    <option>Matematica</option>
    <option>Artistica</option>
    <option>Ingles</option>
  </optgroup>
</select>

<p></p>
<p></p>
<p></p>


   <p></p>

    <button type="submit" class="btn btn-success">
      Save
    </button>
  </form>


<p></p>
  <div class="pre">
    <h3>Responses: </h3>
    {{ currentTask }}
  </div>

<p></p>
<p></p>
<p></p>



</div>